/.gitattributes
/.idea
/.vscode
/AirPlane.ino
/Airplane_!Altimeter.ino
/Arduino
/C++
/calculator
/code.iml
/code.sln
/Examples
/hypenusecal
/Java
/JavaScript
/libraries
/out
/Ping
/python
/README.md
/sketch_may25b
/test
/the website
/theclock
/tutorial code
/VALOR
/Visual studio